@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to bottom, #808080, #a2c1e7);
}
.text-content {
  margin-left: 200px;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
p {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "OpenSans", sans-serif;
}

h3 {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
}

p {
  font-family: "OpenSans", sans-serif;
}

div {
  border: 50px rgb(166, 161, 161);
  float: right;
  padding: 10px;
}

img {
  border: 50px rgb(166, 161, 161);
  float: left;
  padding: 10px;
}

#content {
  float: left;
  width: 70%;
}

#sidebar {
  float: right;
  width: 30%;
}

.menu-bar {
  background-color: #f2f2f2;
  overflow: hidden;
}

.menu-bar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-bar a:hover {
  background-color: #ddd;
  color: black;
}

.menu-bar h2 {
  margin-top: 0;
}

.menu-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #808080;
  background-image: linear-gradient(90deg, #808080, #a2c1e7);
  border-radius: 30px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  position: fixed;
  left: 0;
  top: 25%;
  transform: translateY(-60%);
  width: 350px;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 18px;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 10px;
}

.navbar a.active {
  background-color: #fff;
  color: black;
}
@media screen and (max-width: 700px) {
  #content {
    width: auto;
    float: none;
    background: (to bottom, #808080, #a2c1e7);
  }
  #sidebar {
    width: auto;
    float: none;
  }
  @media screen and (max-width: 980px) {
    #pagewrap {
      width: 90%;
    }
    #content {
      width: 60%;
      background: (to bottom, #808080, #a2c1e7);
    }
    #sidebar {
      width: 30%;
      background: (to bottom, #808080, #a2c1e7);
    }
    @media screen and (min-width: 1024px) {
      .text-content {
        width: 60%;
        margin-left: 20%;
      }
    }
    #content {
      width: 70%;
      margin-left: 200px;
      padding: 20px;
    }
  }
}
