// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.montserrat-homepagefont > {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1>;
  font-style: normal;
}
